.sp-header-row {
  text-align: center; }

.main-navigation ul li a:hover,
.main-navigation ul li:hover > a,
.site-title a:hover,
a.cart-contents:hover,
.site-header-cart .widget_shopping_cart a:hover,
.site-header-cart:hover > li > a,
.site-header ul.menu li.current-menu-item > a {
  color: #580910; }

.site-header {
  border-bottom: none; }
  .site-header .sp-header-row .site-header-cart.menu {
    text-align: left; }
    .site-header .sp-header-row .site-header-cart.menu .cart-contents {
      color: black; }
      .site-header .sp-header-row .site-header-cart.menu .cart-contents:hover, .site-header .sp-header-row .site-header-cart.menu .cart-contents:focus {
        color: #dc0c1f; }
  .site-header .sp-header-row .site-header-cart .widget_shopping_cart {
    background-color: #dc0c1f; }
    .site-header .sp-header-row .site-header-cart .widget_shopping_cart p.total {
      color: #292929; }
    .site-header .sp-header-row .site-header-cart .widget_shopping_cart a {
      color: white; }
      .site-header .sp-header-row .site-header-cart .widget_shopping_cart a:hover, .site-header .sp-header-row .site-header-cart .widget_shopping_cart a:focus {
        text-decoration: underline; }
      .site-header .sp-header-row .site-header-cart .widget_shopping_cart a.remove::before {
        color: white; }

.woocommerce-Price-currencySymbol {
  margin-right: 5px; }
