/* path to file: ./01_configs/breakpoints
*
*  description: 
*  ------------------------------------------------------------------------------------
*/


$handheld: 568px;
$tablet:	768px;
$desktop:	1280px;