/* path to file: ./01_config
*
*  description: default transition speeds
*  ------------------------------------------------------------------------------------
*/


@mixin transition($default) {
  transition: all $default ease-in-out
}

// Transition timing
$instant:     0ms;
$super-fast:  100ms;
$fast:        200ms;
$default:     300ms;
$easy:        500ms;
$slow:        800ms;

/* example usage:
*  ------------------------------------------------------------------------------------
*  .buf-class-name {
*      @include transition($default);
*  }
*  ------------------------------------------------------------------------------------
*/