/* path to file: ./src/scss/03_base/_base.scss
*
*  description: 
*  ------------------------------------------------------------------------------------
*/


.single-product div.product .product_meta a {
	text-decoration: none;
}

button.alt,
input[type="button"].alt,
input[type="reset"].alt,
input[type="submit"].alt,
.button.alt,
.added_to_cart.alt,
.widget-area .widget a.button.alt,
.added_to_cart,
.widget a.button.checkout {
	background-color: $base-link-color;

	@include transition($default);

	&:hover, &:focus {
		background-color: $base-link-color-hover;
	}
}