/* path to file: ./03_bases
*
*  description: overwrite default Wordpress styling
*  ------------------------------------------------------------------------------------
*/


/* remove search widget from header
*/
.widget_product_search form {
  display: none;
}

.right-sidebar .content-area {
  width: 100%;
  margin-right: 0;
  float: none;
}

/* widget_shopping_cart
*/
.site-header-cart {
  .widget_shopping_cart {
    color: white;
    background-color: $base-link-color;

    .total, .buttons {
      background-color: $base-link-color;
    }

    a {
      color: white;

      @include transition($default);

      &.remove {
        &::before {
          color: white;
        }

        &:hover, &:focus {
          &::before {
            color: $base-link-color-hover;
          }
        }
      }

      &.button {
        color: $base-link-color;
        background-color: white;
  
        @include transition($default);
  
        &.checkout {
          color: white;
          border: 4px solid white;
          background-color: transparent;
        }
  
        &:hover, &:focus {
          color: white;
          background-color: $base-link-color-hover;
        }
      }

      &:hover, &:focus {
        color: $base-link-color-hover;
      }
    }
  }
}

.header-widget-region .widget {
  font-size: 1em;
}

.woocommerce-active .site-header .site-header-cart {
  @media screen and (min-width: $tablet) {
    width: 30%;
  }

  @media screen and (min-width: $desktop) {
    width: 20%;
  }
}

.woocommerce-Price-currencySymbol {
  margin-right: 10px;
}