// -------------------------------------------------------------------------------
//
// Description: Insert text here
// ===============================================================================
//

.sfb-footer-bar {
  .widget {
    .widget-title {
      font-size: 1.8750em;
      position: relative;

      &::before {
        width: 20px;
        height: 4px;
        content: '';
        position: absolute;
        left: 0; bottom: 0;
        background-color: $base-link-color;
      }
    }

    .textwidget {
      p {
        line-height: 2;
        font-size: 1.075em;
        font-weight: 300;
      }
    }
  }
}
