// -------------------------------------------------------------------------------
//
// Description: Insert text here
// ===============================================================================
//

$handheld: 568px;
$tablet:	768px;
$desktop:	1280px;
