// -------------------------------------------------------------------------------
//
// Description: Insert text here
// ===============================================================================
//

$base-text-color: #292929;
$base-link-color: #dc0c1f;
$base-link-color-hover: darken(#860e19, 10%);

$grey-tint-10: #f2f2f2;
