/* path to file: ./04_components
*
*  description: 
*  ------------------------------------------------------------------------------------
*/


.site-footer {
	color: white;
	background-color: $base-text-color;

	.site-info {
		a {
			color: white;
			border-bottom: 1px solid white;

			&:hover, &:focus {
				border-bottom-color: transparent;
			}
		}
	}
}