/* path to file: ./04_components
*
*  description: 
*  ------------------------------------------------------------------------------------
*/


.site-header {
	width: 100%;
	padding-top: 0;
	position: fixed;
	border-bottom: none;

	.site-branding {
		display: none;
	}

	.product_list_widget li .quantity {
		color: white;
	}
}