/* path to file: ./04_components
*
*  description: 
*  ------------------------------------------------------------------------------------
*/


.storefront-primary-navigation {
	background-color: $grey-tint-10;
}

.main-navigation {
	ul.menu > li > a {
		border-bottom: 4px solid transparent;

		@include transition($default);

		&:hover, &:focus {
			color: $base-link-color;
		}
	}
}

.cart-navigation {
	display: none;

	@media screen and (min-width: $tablet) {
		width: 100%;
		height: 40px;
		display: block;
		background-color: black;

		.cart-contents {
			padding: 8px 0 7px 0;
			color: white !important;

			.count {
				opacity: 1;
			}
		}
	}
}

.site-header {
	.main-navigation {
		width: 100% !important;
		padding-top: 17px;
	}

	ul {
		&.menu {
			li {
				&.current-menu-item {
					> a {
						color: $base-link-color;
						border-bottom-color: $base-link-color;
					}
				}

				// ul {
				// 	li {
				// 		> a {
				// 			color: white;

				// 			@include transition($default);

				// 			&::after {
				// 				margin-top: 3px;
				// 				font-family: 'FontAwesome';
				// 				font-size: 10px;
				// 				font-weight: 300;
				// 				text-rendering: auto;
				// 				content: "\f054";
				// 				float: right;
				// 			}

				// 			&:hover, &:focus {
				// 				color: black;
				// 				background-color: white;
				// 			}
				// 		}
				// 	}
				// }
			}
		}
	}
}

.main-navigation ul.menu ul.sub-menu {
	background-color: black;

	li {
		>	a {
			color: white;

			@include transition($default);

			&::after {
				margin-top: 3px;
				font-family: 'FontAwesome';
				font-size: 10px;
				font-weight: 300;
				text-rendering: auto;
				content: "\f054";
				float: right;
			}

			&:hover, &:focus {
				color: black;
				background-color: white;
			}
		}
	}
}