/* path to file: ./04_components
*
*  description: 
*  ------------------------------------------------------------------------------------
*/


.main-navigation {
	ul.menu > li > a {
		border-bottom: 4px solid transparent;

		@include transition($default);

		&:hover, &:focus {
			color: $base-link-color;
		}
	}
}

.cart-navigation {
	width: 100%;
	height: 40px;
	background-color: black;

	.cart-contents {
		padding: 8px 0 7px 0;
		color: white !important;

		.count {
			opacity: 1;
		}
	}
}

.site-header {
	.main-navigation {
		width: 100% !important;
		padding-top: 17px;
	}

	ul {
		&.menu {
			li {
				&.current-menu-item {
					> a {
						color: $base-link-color;
						border-bottom-color: $base-link-color;
					}
				}
			}
		}
	}
}